<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron container">
	<h1>Hola</h1>
	<p>
		Soy Sergio y estas en mi pagina Web...
		<br>
		soy Ingeniero de Sistemas de la Universidad EAFIT...
		<br>
		Vivo y soy de Medellín, Colombia...
		<br>
		Tengo 27 años...
	</p>
	<p><a class="btn btn-primary btn-lg" <%= link_to "y soy...", "/biografia" %> </a></p>
</div>




